body {
	font-family: "Trebuchet", "Helvetica";
	background-image: url('../img/lazy.jpg');
	background-size: cover;
	background-color: #f5f5f5;
}

div {
	display: block;
}

a {
	display: inline-block;
	color: black;
	text-decoration: none;
}

section {
	display: block;
}

div.title {
	margin: 0 auto;
	min-height: 50px;
	position: absolute;
	display: block;
	float: right;
}

div.title img {
	height: 80%;
	float: right;
	position: absolute;
	left: 1038px;
	top: 590px;
	background-color: #f5f5f5;
}

div.title img a {
	display: block;
	position: absolute;
	float: right;
}

div.title img:hover {
	opacity: .8;

}


ul#navigate {
	margin: 0 auto;
	float: right;
	list-style-type: none;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #f5f5f5;
	min-width: 450px;
	min-height: 560px;
	width: 30%;
	opacity: .8;
}

ul#navigate li.home {
	width: 100%;
	margin: 0 auto;
}

ul#navigate li.home a {
	margin: 0 auto;
	background-color: white;
	font-family: "Weltron 2001";
	font-weight: 600;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 1px solid black;
	border-radius: 10px;
	width: 100%;
}

ul#navigate li.home ul a {
	white-space: nowrap;
}

ul#navigate li.home a:hover{
	border-radius: 10px;
	opacity: 1;
	background-color: #41a8e1;
}

ul#navigate li:hover {
	opacity: 1;
}

section#primary ul {
	list-style: none;
	display: block;
	position: absolute;
	width: 75%;
}

section#primary ul li {
	text-align: center;
	display: block;
}
section#primary ul li:hover {
	border-radius: 10px;
	opacity: .8;
}

section#primary ul li a {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	font-family: "Weltron 2001";
	font-weight: 600;
}
section#primary ul li:hover a {
	opacity: 1;
}

section#primary ul li a:hover {
	background-color: #41a8e1;
	border-radius: 10px;
	opacity: 1;
}

section#primary{
	width: 100%;
	opacity: .7;
	margin: 0 auto;
	min-height: 500px;
	display: block;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #f5f5f5;
}

section#primary div.sectitle {
	font-family: "Weltron 2001";
	font-size: 26px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	height: 50px;
	font-weight: 600;
	width: 50%;
	margin: 0 auto;
	font-style: underline;
}

div#master_menu ul#navigate li {
	padding: 20px;
	width: 75%;
}

div#master_menu { 
	padding-bottom: 10px;
}

@media screen and (min-width: 569px) and (max-width: 1024px) {


}


